$Primary:#7b1fa2;
$P-Light:#ae52d4;
$P-Dark:#4a0072;
$Secondary:#18227c;
$S-Light:#514aac;
$S-Dark:#00004f;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ccc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tip-container{
    background-color: white;
    width: 375px;
    position: relative;

    header{
        display: flex;
        align-items: center;
        color: white;
        padding: 20px;
        justify-content: center;
        background-color: $P-Dark;
        

        h2{
            margin-left: 4px;
        }
    }
    .subheader{
        background-color: $Primary;
        text-align: center;
        padding: 10px 0;
        letter-spacing: 4px;
        color: white;
        text-shadow: 0 5px 10px white;
        font-family: cursive;
    }
    main{
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        p{
            box-shadow: 0 2px 10px rgba(0,0,0,0.3);
            margin-bottom: 20px;
            padding: 10px ;
            border-radius: 5px;

            label{
                display: block;
                margin-bottom: 10px;
                color: $S-Dark;
                font-weight: 650;
            }
            input{
                width: 100%;
                padding: 10px;
                border: 2px solid $S-Dark;
                font-size: 15px;
            }
        }
        button{
            padding: 10px 30px;
            font-size: 18px;
            background-color: $S-Dark;
            color: white;
            justify-self: center;
            border: none;
            
            &:active{
                transform: scale(.98);
            }
        }
        .loader{
            // display: flex;
            display: none;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            span:first-child{
                font-size: 15px;
                font-weight: 400;
                font-family: cursive;
            }
            .loaderbar{
                display: inline-block;
                margin-left: 15px;
                height: 18px;
                width: 18px;
                border-radius: 50%;
                border: 4px solid $Secondary;
                border-bottom: 4px solid $Primary;
                box-shadow: 0 5px 5px crimson;
                animation: spin .5s linear infinite ;
            }
        }
        .hide-loader{
            display: none;
        }
    }
    .error-modal{
        position: absolute;
        top: 0%;
        background-color: crimson;
        color: white;
        width: 100%;
        padding: 10px;
        left: 0;
        display: none;
        text-align: center;
        animation: fade .5s;
    }
    
    .modal-container{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;


        .modal{
            background-color: $Secondary;
            color: white;
            width: 300px;
            padding: 20px;
            &-info{
                margin-bottom: 10px;
                text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            }
            &-component{
                margin-bottom: 15px;
                font-size: 20px;
            }
            button{
                padding: 5px 10px;
                font-size: 18px;
                background-color: $P-Dark;
                text-align: center;
                border: 0;
                color: white;
                box-shadow: 0 2px 5px ;
                outline: 0;
                &:active{
                    transform: scale(0.98);
                }
            }
        }
    }
}
@keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}